* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f5f8fa;
}

.content {
    margin: auto;
    width: 60%;
}

.formDiv {
    margin: auto;
    margin-top: 200px;
    width: 300px;
}

.submitButton {
    margin-left: 40%;
    float: left;
    display: none;
}

.results {
}

.results ul {
    list-style: none;
}

.human {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    height: 100px;
    background-color: white;
}

.human img{
    margin-top: -50px;
    height: 50px;
    border-radius: 3px;
}

.human span{
    font-weight: bold;
}

.human p{
    margin-left: 20px;
}

.search {
    width: 250px;
    height: 25px;
    border-radius: 3px;
    box-shadow: 0px 0px 0px;
}
