* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f5f8fa;
}

.content {
    margin: auto;
    width: 60%;
}

.formDiv {
    margin: auto;
    margin-top: 200px;
    width: 300px;
}

.submitButton {
    margin-left: 40%;
    float: left;
    display: none;
}

.results {
}

.results ul {
    list-style: none;
}

.results a{
    text-decoration: none;
    color: black;
}

.human {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
    border: 1px solid lightgrey;
    height: 100px;
    border-radius: 4px;
    background-color: white;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.hover{
    background-color: white;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.hover:hover {
    background-color: lightgray;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.human img{
    margin-top: -50px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid lightgrey;
}

.human span{
    font-weight: bold;
}

.human p{
    margin-left: 20px;
}

.search {
    width: 250px;
    height: 25px;
    border-radius: 3px;
    box-shadow: 0px 0px 0px;
}

.profile{
    border-radius: 3px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid lightgrey;
    width: 750px;
    background-color: white;
}

.image{
    border-radius: 3px;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid lightgrey;
    background-size: 100%;
}

.info{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    line-height: 25px;
}

.back{
    width: 300px;
    height: 50px;
    background-color: lightgray;
    border-radius: 5px;
    color: black;
    margin-left: 40%;
    padding: 3px;
    margin-bottom: 10px;
    text-decoration: none;
}
