{% extends "base.html" %}

{% block title %}Form{% endblock %}
{% block body %}
    <div class="formDiv">
        <form class="form" action="/" method="post">
            <label for="find">Find:<br><input type="text" name="find"><br></label>
            <input class="submitButton" type="submit" id="sendMail" value="Submit">
        </form>
    </div>
    <br><br>

{% endblock %}