{% extends "base.html" %}

{% block title %}Form{% endblock %}
{% block body %}
    <div class="content">
        <div class="formDiv">
            <form class="form" action="/" method="post">
                <label for="find">Find:<input class="search" type="text" name="find"><br></label>
                <input class="submitButton" type="submit" id="sendMail" value="Submit">
            </form>
        </div>
        <br><br>

        <div class="results">
            <ul>
                {% for website in websites %}
                    {% for websit in website %}
                    <li>
                        <div class="human">

                            <img src="{{ websit['ImageURL'] }}" alt="Profile pic">
                            <p>
                            <span>Name:</span> {{ websit['Name'] }}
                                {% if websit['Description'] %}<br><span>Description:</span> {{ websit['Description'] }} {% endif %}
                                {% if websit['links'] %}<br><span>Description:</span> {{ websit['links'] }} {% endif %}
                            </p>
                        </div>
                    </li>
                        {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}